<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
    <title>Login</title>
</head>
<body>
<div class="login">
    <img src="/img/Airthings HBS LOGO-grey.png" alt="logo">
    <a href="/auth"> Login with Airthings</a>
</div>
</body>
</html>
