.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    border: 1px solid #000000;
    padding: 20px;
    background-color: #ffffff;
}

img {
    height: 20vmin;
    margin: 25px;
}

a {
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px 0;
    height: 35px;
    padding: 10px 20px 0 20px;
    text-decoration:none;
    font-size: 16px;
    outline: none;
    color: white;
    background-color: #65B1DF;
    line-height: 22px;
}

a:hover{
    background-color: #80C7F2;
}